img {
  max-width: 200px;
  max-height: 200px;
}

#key-val-input {
  padding: 0px /*!important*/
}

input[disabled] {
  color: #000;
}

.job-feed-tbl td {
  max-width: 40px;
  overflow-x: scroll;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}
